{% extends "base.html" %}
{% block content %}

<section id="doctors" class="doctors">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Doctors</h2>
      <p>Meet Our Professional Team</p>
    </div>

    <div class="row g-4">
      {% for doctor in doctors_list %}
      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="{{ doctor.image.url }}" class="img-fluid" alt="{{ doctor.name }}">
          </div>
          <div class="member-info">
            <h4>{{ doctor.name }}</h4>
            <span>{{ doctor.degree }}</span>
            <a href="{% url 'doctor_detail' doctor.id %}" class="btn btn-sm btn-outline-secondary">View</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock %}
